:root {

  /*font family*/
  --default-font-family: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;

  /* font-size (typescale 1.25) */
  --fs-xs: 0.625rem;
  --fs-sm: 0.813rem;
  --fs-md: 1rem;     
  --fs-lg: 1.25rem;   
  --fs-xl: 1.563rem;  
  --fs-2xl: 1.938rem; 
  --fs-3xl: 2.438rem;  
  --fs-4xl: 3.063rem;  
  --fs-5xl: 3.813rem;

  /* Letter-spacing */
  --ls-xs: 0.02em;
  --ls-sm: 0.01em;
  --ls-md: 0;
  --ls-lg: 0;
  --ls-xl: 0;
  --ls-2xl: -0.005em;
  --ls-3xl: -0.01em;
  --ls-4xl: -0.015em;
  --ls-5xl: -0.02em;

  /* Line-height */
  --lh-xs: 1.4;
  --lh-sm: 1.45;
  --lh-md: 1.5;
  --lh-lg: 1.4;
  --lh-xl: 1.3;
  --lh-2xl: 1.25;
  --lh-3xl: 1.2;
  --lh-4xl: 1.15;
  --lh-5xl: 1.1;

  /*Font-weight*/
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  /*spacing base*/
  --spacing: 0.25rem;

  /*Border-radius*/
  --br-xs: 0.125rem;
  --br-sm: 0.25rem;
  --br-md: 0.375rem;
  --br-lg: 0.5rem;
  --br-xl: 0.75rem;
  --br-2xl: 1rem;
  --br-3xl: 1.25rem;  
  --br-4xl: 1.5rem;
  --br-5xl: 2rem;
  --br-full: 9999px;
  --br-circle: 50%;

  /*container width*/
  --container-3xs: 14rem;
  --container-2xs: 16rem;
  --container-xs: 20rem;
  --container-sm: 30rem;
  --container-md: 48rem;
  --container-lg: 64rem;
  --container-xl: 80rem;
  --container-2xl: 96rem;
  --container-3xl: 112rem;
  --container-full: 100%;

  /*border*/
  --border: #d8d4cf;
  --border-20-transparent: color-mix(in srgb, white 20%, transparent);
  --border-50-transparent: color-mix(in srgb, white 50%, transparent);

  /*colors*/
  --sage: #8B9A6E;
  --light-bege: #F7F2EB;
  --bege: #EAE2D6;
  --grey: #EEEEEE;
  --blue: #0055DA;
  --yellow: #FFD400;
  --red: #FF0052;

  --white-total:#FFFFFF;
  --white-soft:#FAFAFA;
  --white-smoky:#F5F5F5;
  --white-butter:#FFFDF7;
  --white-snow:#FDFDFD;
  --white-ice:#F9FAFB;
  --gray-misty:#EEEEEE;
  --gray-cloud:#E0E0E0;
  --gray-silver:#BDBDBD;
  --gray-bluish:#E2E8F0;
  --gray-lead:#424242;
  --gray-graphite:#212121;

  --txt-black: #1a1a1a;
  --txt-white: #e5e6eb;

}

html {
  box-sizing: border-box;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: inherit;
}

* {
    padding: 0;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: var(--default-font-family);
  display: grid;
  min-height: 100dvh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px auto;
  grid-template-areas: 
  "header header"
  "aside main";
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.header,
.aside,
.main{
  padding-inline: calc(var(--spacing)*4);
}

.header {
  grid-area: header;
  height: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--light-bege);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.header h1 {
  font-size: var(--fs-2xl);
  line-height: var(--lh-2xl);
  letter-spacing: var(--ls-2xl);
  color: var(--txt-black);
}

.aside {
  grid-area: aside;
  padding-block: calc(var(--spacing)*4);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing)*1.5);
  background-color: var(--bege);
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1);
}

.aside h2 {
  order: 2;
  margin-top: calc(var(--spacing)*2);
  font-size: var(--fs-lg);
  line-height: var(--lh-lg);
  letter-spacing: var(--ls-lg);
  font-weight: var(--fw-semi-bold);
  color: var(--txt-black);
}

.aside button {
  order: 1;
  background-color: transparent;
  border-radius: var(--br-md);
  border: none;
  padding: calc(var(--spacing)*0.5) calc(var(--spacing)*2);
  background-color: var(--sage);
  color: var(--white-total);
  cursor: pointer;
  transition: ease-in-out .3s all;
}

.aside button:hover,
.main button:hover {
  opacity: 0.9;
}

.aside button:focus-visible,
.main button:focus-visible {
  outline: none;
}

.aside ul {
  order: 3;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing)*1);
  height: 60vh;
  overflow-y: auto;
}

.aside ul li {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing)*2);
  width: var(--container-full);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: var(--br-sm);
  padding: 0 calc(var(--spacing)*1);
}

.aside ul li:hover {
  background-color: color-mix(in srgb, white 40%, transparent 60%)
}

.aside ul li span {
  font-size: var(--fs-md);
  line-height: var(--lh-md);
  letter-spacing: var(--ls-md);
  font-weight: var(--fw-regular);
  color: var(--txt-black);
  text-transform: capitalize;
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--txt-black);
}

.aside ul li img {
  cursor: pointer;
}

.aside ul li img:hover {
  filter: invert(18%) sepia(90%) saturate(7007%) hue-rotate(335deg) brightness(99%) contrast(107%);
}


.main {
  grid-area: main;
  padding-block: calc(var(--spacing)*4);
  background-color: var(--white-soft);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing)*4);
}

.main button {
  align-self: flex-end;
  background-color: transparent;
  border-radius: var(--br-md);
  border: none;
  padding: calc(var(--spacing)*0.5) calc(var(--spacing)*10);
  background-color: var(--sage);
  color: var(--white-total);
  cursor: pointer;
  transition: ease-in-out .3s all;
}

.main .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .main-header .todo-title {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing)*2);
}

.main .main-header .todo-title img {
  width: calc(var(--spacing)*6);
  height: calc(var(--spacing)*6);
}

.main .main-header .todo-title h2 {
  color: var(--txt-black);
  font-size: var(--fs-lg);
  line-height: var(--lh-lg);
  letter-spacing: var(--ls-lg);
  font-weight: var(--fw-medium);
}

.main .all-tasks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-auto-rows: 1fr;
  gap: calc(var(--spacing)*4);
}

.main .all-tasks > div {
  background-color: var(--gray-misty);
  display: flex;
  align-items: center;
  border-radius: var(--br-lg);
  padding: calc(var(--spacing)*2.5) calc(var(--spacing)*1);
}

.main .all-tasks > div .check-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .all-tasks > div .check-container input {
  width: calc(var(--spacing)*5);
  height: calc(var(--spacing)*5);
  accent-color: var(--sage);
  cursor: pointer;
}

.main .all-tasks > div .title-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing)*0.5);
}

.main .all-tasks > div .title-container h1 {
  font-size: var(--fs-2xl);
  line-height: var(--lh-2xl);
  letter-spacing: var(--ls-2xl);
  font-weight: var(--fw-semi-bold);
  color: var(--txt-black);
}

.main .all-tasks > div .title-container p {
  color: var(--txt-black);
  font-size: var(--fs-md);
  line-height: var(--lh-md);
  letter-spacing: var(--ls-md);
  font-weight: var(--fw-regular);
}

.main .all-tasks > div .icons-container {
  flex: 2;
  display: flex;
  gap: calc(var(--spacing)*2);
  justify-content: center;
}

.main .all-tasks > div .icons-container img {
  width: calc(var(--spacing)*5);
  height: calc(var(--spacing)*5);
  cursor: pointer;
}

.main .all-tasks > div .icons-container img:last-of-type:hover {
  filter: brightness(0) saturate(100%) invert(18%) sepia(98%) saturate(4281%) hue-rotate(331deg) brightness(93%) contrast(118%);
}

.main .all-tasks > div .icons-container img:hover {
  filter: brightness(0) saturate(100%) invert(20%) sepia(85%) saturate(3892%) hue-rotate(213deg) brightness(89%) contrast(100%);
}

#newTaskModal {
  outline: none;
  border: none;
  border-radius: var(--br-lg);
}

#newTaskModal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

#newTaskModal form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing)*4);
  padding: calc(var(--spacing)*4);
}

#newTaskModal form .title{
  display: flex;
  flex-direction: column;
}

#newTaskModal form .title h1 {
  color: var(--txt-black);
  font-size: var(--fs-2xl);
  line-height: var(--lh-2xl);
  letter-spacing: var(--ls-2xl);
  font-weight: var(--fw-semi-bold);
}

#newTaskModal form .title p {
  color: color-mix(in srgb, white, var(--txt-black) 80%);
  font-size: var(--fs-md);
  line-height: var(--lh-md);
  letter-spacing: var(--ls-md);
  font-weight: var(--fw-regular);
}

#newTaskModal form .controller{
  display: flex;
  flex-direction: column;
}

#newTaskModal form .controller input,
#newTaskModal form .controller select {
  margin-bottom: calc(var(--spacing)*1.5);
  border-radius: var(--br-md);
  outline: none;
  border: 1.5px solid  var(--border);
  padding: calc(var(--spacing)*0.5) calc(var(--spacing)*1.5);
  color: color-mix(in srgb, white, var(--txt-black) 80%);
  font-size: var(--fs-sm);
  line-height: var(--lh-sm);
  letter-spacing: var(--ls-sm);
  font-weight: var(--fw-regular);
}

#newTaskModal form .controller input[type="checkbox"] {
  align-self: flex-start;
  width: calc(var(--spacing)*6);
  height: calc(var(--spacing)*6);
  accent-color: var(--sage);
  
}

#newTaskModal form .controller input:focus {
  outline: none;
  border-color: var(--blue);
  box-shadow: 0 0 0 2px rgba(28, 31, 211, 0.2);
}

#newTaskModal form .button {
  display: flex;
  gap: calc(var(--spacing)*2);
  margin-top: calc(var(--spacing)*2);
}

#newTaskModal form .button * {
  flex: 1;
}

#newTaskModal form .button input:first-of-type {
  background-color: var(--red);
}

#newTaskModal form .button input{
  border: none;
  color: var(--white-total);
  font-size: var(--fs-md);
  line-height: var(--lh-md);
  letter-spacing: var(--ls-md);
  font-weight: var(--fw-semi-bold);
  background-color: var(--sage);
}

